<div class="wrapper">
  <div style="text-align: center; padding: 10px 100px 10px;">
    <h4><b>About Pipeero</b></h4>
    <p style="text-align: justify;">Pipeero is a “backend as a service” platform specifically designed for IoT applications. The main core of the system is the API that can be used to easily integrate the hardware(things) to the frontend of your own application or vice-versa. It also has an intuitive dashboard that you can modify, monitor, and control your things quickly and easily.</p>
    <p style="text-align: justify;">Pipeero is similar to the existing IoT backend services such as Apstrata, Buddy, Dweet.io, Freeboard, Adafruit.io, and Phant.io.</p>
    <p style="text-align: justify;">The initial goal of this platform is to provide direct and friendly services to the IoT projects here in the Philippines, by providing adaptive solutions and guidance to resources. Hence, a perfect solution for students and hobbyists</p>
  </div>

</div>
