<div class="wrapper">
  <div class="form-signin">
    <form ng-submit="doLogin()">
      <div style="text-align: center; padding-bottom: 35px; padding-top: 10px;">
        <img src="img/logo.png" alt="">
      </div>
      <input tooltip="I'm a tooltip!" type="text" class="form-control login-input" ng-model="user.email" name="username" placeholder="Email Address" required="" autofocus="" /><br>
      <input type="password" class="form-control login-input" ng-model="user.password" name="password" placeholder="Password" required=""/>
      <br>
      <!-- <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me -->
      <br>
      <uib-alert ng-show="invalidLoginToaster" type="{{alertMessage.type}}" close="closeLoginAlert()" dismiss-on-timeout="1000">{{loginAlertMessage.message}}</uib-alert>
      <button class="btn btn-lg btn-success btn-block" type="submit"><span ng-hide="isLoginLoading">Signin</span><span ng-show="isLoginLoading">Please Wait, Logging in...</span></button>
    </form>
    <br>
    <button class="btn btn-lg btn-warning btn-block" ng-click="doRegister()"><span ng-hide="isRegisterLoading">Register</span><span ng-show="isRegisterLoading">Please Wait, Signing up...</span></button>
  </div>
  <br>
  <div style="text-align: center;">
    <h6 style="color:#444;">Copyright © 2016 zagatek. All Rights Reserved.</h6>
  </div>
</div>
