<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>pipeero - dashboard (beta)</title>
  <link rel="icon" type="image/png" href="img/icon.png">
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.css">
  <link rel="stylesheet" type="text/css" href="styles/less/main.css">
  <link rel="stylesheet" type="text/css" href="components/angular-gridster/dist/angular-gridster.min.css"/>
  <link rel="stylesheet" type="text/css" href="components/titatoggle/dist/titatoggle-dist-min.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="lib/wijmo.min.css"/> -->
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="components/javascript-detect-element-resize/jquery.resize.js"></script>
  <script type="text/javascript" src="components/angular-gridster/dist/angular-gridster.min.js"></script>
  <script type="text/javascript" src="components/ng-lodash/build/ng-lodash.min.js"></script>
  <script type="text/javascript" src="components/angular-progress-arc/angular-progress-arc.min.js"></script>
  <script type="text/javascript" src="components/ngstorage/ngStorage.min.js"></script>

  <script type="text/javascript" src="lib/angular-round-progress-directive.js"></script>
  <script type="text/javascript" src="lib/socket.js"></script>
  <script type="text/javascript" src="lib/socket.io.js"></script>
  <script type="text/javascript" src="lib/parse-1.6.14.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="background: #1ccdaa !important;">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            {{username || 'pipeero'}}
            <span ng-show="toggle" class="menu-icon glyphicon glyphicon-chevron-left"></span>
            <span ng-hide="toggle" class="menu-icon glyphicon glyphicon-chevron-right"></span>

          </a>
        </li>
        <!-- <li class="sidebar-title"><span>NAVIGATION</span></li> -->
        <li class="sidebar-list">
          <a href="#">Discover <span class="menu-icon fa fa-compass"></span></a>
        </li>
        <li class="sidebar-list" ng-show="isLoggedIn">
          <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list" ng-show="isLoggedIn">
          <a href="#/things">Things <span class="menu-icon fa fa-cube"></span></a>
        </li>
        <li class="sidebar-list" ng-show="isLoggedIn">
          <a href="#/settings">Settings <span class="menu-icon fa fa-gear"></span></a>
        </li>
        <li class="sidebar-list" ng-show="isLoggedIn">
          <a ng-click="doLogout()">Logout <span class="menu-icon fa fa-sign-out"></span></a>
        </li>
        <li class="sidebar-list" ng-hide="isLoggedIn">
          <a href="#/login">Login <span class="menu-icon fa fa-sign-in"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="#">
            Home
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <!-- <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>
              </div> -->
              <div class="item dropdown" ng-show="isLoggedIn" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">None</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta" ng-show="isLoggedIn">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Email: {{email}}<br>
                UserId: {{userId}}
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
